* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.modal-header {
  background-color: #000 !important;
}
.btn-close {
  filter: invert(1);
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.header {
  background-color: #000;
  padding: 20px 0;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-text {
  color: #fff;
  font-size: 35px;
  text-decoration: none;
}
.header__menu-btn {
  display: none;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav__link {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
.header__login-btn {
  max-width: 140px;
  width: 100%;
  color: #000;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: #fff;
  border-radius: 10px;
  padding: 12px 20px;
}
.box{
  text-align: center;
}

.image{
  width: 100%;
}

/*  mobile style started */

@media only screen and (max-width: 320px) {
  body {
    display: none;
  }
}
@media only screen and (min-width: 320px) {
  .header {
    padding: 15px 0;
  }
  .logo-text {
    font-size: 35px;
  }
  .nav {
    display: none;
  }
  .header__login-btn {
    display: none;
  }
  .header__menu-btn {
    display: block;
    max-width: 45px;
    width: 100%;
    color: #000;
    font-size: 12px;
    outline: none;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    padding: 8px 10px;
  }
  .menu-nav
    .nav__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
  .nav__link--sec {
    color: #000;
  }


@media only screen and (min-width: 756px) {
  .header {
    padding: 20px 0;
  }
  .header__menu-btn {
    display: none;
  }
  .nav {
    display: block;
  }
  .header__login-btn {
    display: block;
  }
  .logo-text {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1000px) {
  .header__menu-btn {
    display: none;
  }
  .nav {
    display: block;
  }
  .header__login-btn {
    display: block;
  }
  .logo-text {
    font-size: 35px;
  }
  .header__login-btn {
    max-width: 140px;
    width: 100%;
    font-size: 16px;
  }
}
