* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.header {
  background-color: #000;
  padding: 20px 0;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-text {
  color: #fff;
  font-size: 35px;
  text-decoration: none;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav__link {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
.header__login-btn {
  max-width: 140px;
  width: 100%;
  color: #000;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: #fff;
  border-radius: 10px;
  padding: 12px 20px;
}
